---
layout: archive
title: ""
permalink: /teaching/
author_profile: false
layout: splash
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

I have taught quantitative courses to students with a wide range of comfort with numbers,
and enjoy making econometric concepts accessible to students of all backgrounds.
 Below is a list of courses I have taught.

<h3>Instruction</h3>
<p>I designed and taught the following:</p>

<ul>
  <li>
    <strong>Program Evaluation</strong>
    <p>Intensive course for visiting undergraduate international students studying public policy.</p>
  </li>
  <li>
    <strong>Guest Lecturer: Violence in Schools</strong>
    <p>Developed and led three-hour guest lectures on violence in and around schools for Undergraduate and Master's students.</p>
  </li>
</ul>

<h3>Teaching Assistant</h3>

<ul>
  <li>
    <strong>Roles that involved leading TA sessions and office hours:</strong>
  
  <!-- Nested list for subpoints starts here -->
    <ul>
      <li>Statistics for Data Analysis (Master's); 2024, 2026</li>
      <li>Program Evaluation (Master's); 2023</li>
      <li>Advanced Microeconomics (PhD); 2023, 2024</li>
    </ul>
    <!-- Nested list ends here -->
  
  </li>
  <li>
    <strong>Roles that involved. supervising student research proposals:</strong>
  
  <!-- Nested list for subpoints starts here -->
    <ul>
      <li>Education and Economic Development (Undergraduate); 2026</li>
    </ul>
    <!-- Nested list ends here -->
  
  </li>
</ul>
